<ion-view title="Camino" id="page8">
  <ion-content padding="true" class="has-header">
    <h4 id="camino-heading13" style="color:#000000;">Pacientes en camino</h4>
    <form id="camino-form3" class="list">
      <label class="item item-input" id="camino-textarea4">
        <span class="input-label">Camila Esquivel</span><textarea placeholder="5 mins"></textarea></label>
      <label class="item item-input" id="camino-textarea5">
        <span class="input-label">Santiago Jones</span><textarea placeholder="12 mins"></textarea></label>
      <label class="item item-input" id="camino-textarea6">
        <span class="input-label">Esteban Castiblanco</span><textarea placeholder="20 mins"></textarea></label>
      <label class="item item-input" id="camino-textarea7">
        <span class="input-label">Sara Solano</span><textarea placeholder="62 mins"></textarea></label>
    </form>
  </ion-content>
</ion-view>