<ion-view title="Crear cuenta" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="crearCuenta-form5" class="list">
      <ion-list id="crearCuenta-list4">
        <label class="item item-input item-floating-label" id="crearCuenta-input4">
          <input type="text" placeholder="Nombres">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input5">
          <input type="text" placeholder="Apellidos">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input6">
          <input type="number" placeholder="Número de identificación">
        </label>
        <label class="item item-input item-floating-label" id="crearCuenta-input8">
          <input type="email" placeholder="Correo">
        </label>
        <label class="item item-input" id="crearCuenta-input7">
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input" id="crearCuenta-input10">
          <input type="password" placeholder="Repetir contraseña">
        </label>
        <label class="item item-input" id="crearCuenta-input9">
          <input type="text" placeholder="Especialización">
        </label>
        <label class="item item-select" id="crearCuenta-select1">
          <span class="input-label">Género</span>
          <select>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </label>
      </ion-list>
      <label class="item item-input" id="crearCuenta-input11">
        <span class="input-label">Nacimiento</span>
        <input type="date" placeholder="">
      </label>
      <a ui-sref="login()" id="crearCuenta-button8" class="button button-balanced button-block">Registrate</a>
    </form>
  </ion-content>
</ion-view>