<ion-view title="Editar perfil" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="editarPerfil-form6" class="list">
      <a ui-sref="tabsController.triage()" id="editarPerfil-button9" class="button button-balanced button-block icon-left ion-ios-home-outline">Inicio</a>
      <ion-list id="editarPerfil-list5">
        <label class="item item-input item-floating-label" id="editarPerfil-input12">
          <input type="text" placeholder="Nombres">
        </label>
        <label class="item item-input item-floating-label" id="editarPerfil-input13">
          <input type="text" placeholder="Apellidos">
        </label>
        <label class="item item-input item-floating-label" id="editarPerfil-input14">
          <input type="number" placeholder="Número de identificación">
        </label>
        <label class="item item-input item-floating-label" id="editarPerfil-input15">
          <input type="email" placeholder="Correo">
        </label>
        <label class="item item-input" id="editarPerfil-input16">
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input" id="editarPerfil-input17">
          <input type="password" placeholder="Repetir contraseña">
        </label>
        <label class="item item-input" id="editarPerfil-input18">
          <input type="text" placeholder="Especialización">
        </label>
        <label class="item item-select" id="editarPerfil-select2">
          <span class="input-label">Género</span>
          <select>
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </label>
      </ion-list>
      <label class="item item-input" id="editarPerfil-input19">
        <span class="input-label">Nacimiento</span>
        <input type="date" placeholder="">
      </label>
      <a ui-sref="tabsController.triage()" id="editarPerfil-button10" class="button button-balanced button-block">Guardar</a>
    </form>
  </ion-content>
</ion-view>