<ion-view title="Laura Casas" id="page13">
  <ion-content padding="true" class="has-header">
    <h4 id="lauraCasas-heading32" style="color:#000000;">Datos de Identificación</h4>
    <div id="lauraCasas-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading33" style="color:#000000;">Motivo de Consulta</h4>
    <div id="lauraCasas-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading34" style="color:#000000;">Enfermedad Actual</h4>
    <div id="lauraCasas-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading35" style="color:#000000;">Revisión por Sistemas</h4>
    <div id="lauraCasas-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading36" style="color:#000000;">Antecedentes Personales</h4>
    <div id="lauraCasas-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading37" style="color:#000000;">Antecedentes Familiares</h4>
    <div id="lauraCasas-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading38" style="color:#000000;">Examen Físico</h4>
    <div id="lauraCasas-markdown34" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading39" style="color:#000000;">Diagnósticos Diferenciales</h4>
    <div id="lauraCasas-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="lauraCasas-heading40" style="color:#000000;">Plan</h4>
    <div id="lauraCasas-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>