<ion-view title="Legal" id="page16">
  <ion-content padding="true" class="has-header">
    <div id="legal-markdown47" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="tabsController.triage()" id="legal-button7" class="button button-balanced button-block icon-left ion-ios-home-outline">Inicio</a>
  </ion-content>
</ion-view>