<ion-view title="login" hide-nav-bar="true" id="page5" style="background-color:#084887;">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/b7RA2eQVv3XSjpLhZ3wS_Capturadepantalla2019-04-03alas1.56.44a.m..png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 8px;"></div>
    <h4 id="login-heading1" style="color:#FFFFFF;font-weight:400;">Ingresa tu datos</h4>
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input1">
        <span class="input-label">Número de identificación</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="login-input2">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="height: 22px;"></div>
    </form>
    <a ui-sref="tabsController.urgencias()" id="login-button1" class="button button-balanced button-block">Iniciar sesión</a>
    <a ui-sref="olvidasteTuContraseA()" id="login-button3" class="button button-light button-block button-clear">¿Olvidaste tu contraseña?</a>
    <a ui-sref="crearCuenta()" id="login-button2" class="button button-positive button-block">Crear cuenta</a>
  </ion-content>
</ion-view>