<ion-view title="Nicolás Escorcia" id="page12">
  <ion-content padding="true" class="has-header">
    <h4 id="nicolSEscorcia-heading23" style="color:#000000;">Datos de Identificación</h4>
    <div id="nicolSEscorcia-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading24" style="color:#000000;">Motivo de Consulta</h4>
    <div id="nicolSEscorcia-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading25" style="color:#000000;">Enfermedad Actual</h4>
    <div id="nicolSEscorcia-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading26" style="color:#000000;">Revisión por Sistemas</h4>
    <div id="nicolSEscorcia-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading27" style="color:#000000;">Antecedentes Personales</h4>
    <div id="nicolSEscorcia-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading28" style="color:#000000;">Antecedentes Familiares</h4>
    <div id="nicolSEscorcia-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading29" style="color:#000000;">Examen Físico</h4>
    <div id="nicolSEscorcia-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading30" style="color:#000000;">Diagnósticos Diferenciales</h4>
    <div id="nicolSEscorcia-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="nicolSEscorcia-heading31" style="color:#000000;">Plan</h4>
    <div id="nicolSEscorcia-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>