<ion-view title="Olvidaste tu contraseña" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="olvidasteTuContraseA-form4" class="list">
      <label class="item item-input" id="olvidasteTuContraseA-input3">
        <span class="input-label">Ingresa tu correo</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <a ui-sref="login()" id="olvidasteTuContraseA-button5" class="button button-positive button-block">Enviar contraseña</a>
  </ion-content>
</ion-view>