<ion-view title="Rafael Alvarado" id="page9">
  <ion-content padding="true" class="has-header">
    <h4 id="rafaelAlvarado-heading3" style="color:#000000;">Datos de Identificación</h4>
    <div id="rafaelAlvarado-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading4" style="color:#000000;">Motivo de Consulta</h4>
    <div id="rafaelAlvarado-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading5" style="color:#000000;">Enfermedad Actual</h4>
    <div id="rafaelAlvarado-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading6" style="color:#000000;">Revisión por Sistemas</h4>
    <div id="rafaelAlvarado-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading7" style="color:#000000;">Antecedentes Personales</h4>
    <div id="rafaelAlvarado-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading8" style="color:#000000;">Antecedentes Familiares</h4>
    <div id="rafaelAlvarado-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading11" style="color:#000000;">Examen Físico</h4>
    <div id="rafaelAlvarado-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading9" style="color:#000000;">Diagnósticos Diferenciales</h4>
    <div id="rafaelAlvarado-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="rafaelAlvarado-heading10" style="color:#000000;">Plan</h4>
    <div id="rafaelAlvarado-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>