<ion-view title="Rene Guevara" id="page11">
  <ion-content padding="true" class="has-header">
    <h4 id="reneGuevara-heading14" style="color:#000000;">Datos de Identificación</h4>
    <div id="reneGuevara-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading15" style="color:#000000;">Motivo de Consulta</h4>
    <div id="reneGuevara-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading16" style="color:#000000;">Enfermedad Actual</h4>
    <div id="reneGuevara-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading17" style="color:#000000;">Revisión por Sistemas</h4>
    <div id="reneGuevara-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading18" style="color:#000000;">Antecedentes Personales</h4>
    <div id="reneGuevara-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading19" style="color:#000000;">Antecedentes Familiares</h4>
    <div id="reneGuevara-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading20" style="color:#000000;">Examen Físico</h4>
    <div id="reneGuevara-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading21" style="color:#000000;">Diagnósticos Diferenciales</h4>
    <div id="reneGuevara-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="reneGuevara-heading22" style="color:#000000;">Plan</h4>
    <div id="reneGuevara-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>