<ion-view title="Silvia Rodriguez" id="page14">
  <ion-content padding="true" class="has-header">
    <h4 id="silviaRodriguez-heading41" style="color:#000000;">Datos de Identificación</h4>
    <div id="silviaRodriguez-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading42" style="color:#000000;">Motivo de Consulta</h4>
    <div id="silviaRodriguez-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading43" style="color:#000000;">Enfermedad Actual</h4>
    <div id="silviaRodriguez-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading44" style="color:#000000;">Revisión por Sistemas</h4>
    <div id="silviaRodriguez-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading45" style="color:#000000;">Antecedentes Personales</h4>
    <div id="silviaRodriguez-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading46" style="color:#000000;">Antecedentes Familiares</h4>
    <div id="silviaRodriguez-markdown42" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading47" style="color:#000000;">Examen Físico</h4>
    <div id="silviaRodriguez-markdown43" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading48" style="color:#000000;">Diagnósticos Diferenciales</h4>
    <div id="silviaRodriguez-markdown44" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h4 id="silviaRodriguez-heading49" style="color:#000000;">Plan</h4>
    <div id="silviaRodriguez-markdown45" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>