<ion-view title="Triage" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="triage-heading12" style="color:#000000;">Pacientes &amp; Triage</h4>
    <form id="triage-form2" class="list">
      <label class="item item-input" id="triage-textarea1">
        <span class="input-label">Juan González</span><textarea placeholder="Triage IV"></textarea></label>
      <label class="item item-input" id="triage-textarea2">
        <span class="input-label">Ricardo Valencia</span><textarea placeholder="Triage V"></textarea></label>
      <label class="item item-input" id="triage-textarea3">
        <span class="input-label">Manuela Gómez</span><textarea placeholder="Triage III"></textarea></label>
    </form>
  </ion-content>
</ion-view>