<ion-view title="Urgencias" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="urgencias-heading2" style="color:#000000;">Pacientes</h4>
    <ion-list id="urgencias-list1">
      <ion-item id="urgencias-list-item4" ui-sref="tabsController.rafaelAlvarado()">Rafael Alvarado</ion-item>
      <ion-item id="urgencias-list-item5" ui-sref="tabsController.reneGuevara()">Rene Guevara</ion-item>
      <ion-item id="urgencias-list-item6" ui-sref="tabsController.nicolSEscorcia()">Nicolás Escorcia</ion-item>
      <ion-item id="urgencias-list-item10" ui-sref="tabsController.lauraCasas()">Laura Casas</ion-item>
      <ion-item id="urgencias-list-item11" ui-sref="tabsController.silviaRodriguez()">Silvia Rodriguez</ion-item>
    </ion-list>
  </ion-content>
</ion-view>